* ,*:before,*:after{
    box-sizing:inherit;
    box-sizing: border-box;
}
body{
    font-family:  apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;;
    background-color: #191919;
    margin: 0px;
}
.p1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
    text-align: center;
    height: 40px;
}
.p1 a{
    color: #ffffff;
}
header{
    background-color: #ffffff;
}
.svg1 .svg2{
    text-decoration: none;
    color: #000000;
}
.svg1{
    width: 33;
    height: 22;
}
.svg2{
    position: absolute;
    overflow: hidden;
}
.svg2:hover{
    transition: all 1.5s;
    transform: translatex(-100%);
}
.nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo a{
    text-decoration: none;
}
.ul-menu button:hover svg{
    transform: rotate(180deg);
}
.ul-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.ul-menu button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login .a1{
    text-decoration: none;
    color: #000000;

}
.btn , .btn3 {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
  }
.btn:hover , .btn1:hover , .btn3:hover{
    background-color: #363636;
}
.positioned-sticky{
    position: sticky;
    top: 0px;
  }
  article{
    display: block;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.sec1{
    margin-top: 40px;
}
  .btn3{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:45px;
    padding-right: 45px;
  }
  h1{
    font-size: 74px;
    line-height: 1.1;
  }
h1 , h3{
    font-weight: normal;
    text-rendering: optimizespeed;
}
.vid1{
    padding-right: 0px;
}
.content{
    padding-right: 180px;
}

h2{
    font-weight: normal;
   text-align: center;
   padding-bottom: 40px;
}

.sec1 , .sec4 , .sec5{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.vid2{
    padding-right: 100px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;

}
.log2{
    padding: 40px;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d4{
    padding-left: 80px;
}
.d5{
    padding-right: 80px;
}
.sec5{
    margin-top: 200px;
    margin-bottom: 200px;
}
.sec6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    padding-bottom: 120px;
    padding-right: 100px;
}
.box-description{
    width: 278px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.box-description a{
    text-decoration-line: underline;
    color: #000000;
}
.box-description h4{
    font-weight: none ;
    font-weight: normal;
}
.list-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    width: 216px;
    height: 216px;
    background-color: #F7F7F6;
    border: 2px solid #F7F7F6;
    border-radius: 40px;
    padding: 24px;
    margin-right: 40px;
}
.box img{
    width: 100%;
}
.d7{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
    padding-bottom: 80px;
}
.sec8{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}
.card{
    display: block;
    width: 30%;
    padding: 20px;
    background-color: #F7F7F6;
    border-radius: 24px;
    margin-bottom: 24px;
}
.card a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 3px;
    font-size: 20px;
}
.card .card-title{
    font-size: 24px;
    padding-bottom: 5px;
}
.card:hover{
    background-color: #000000;
    color: #ffffff;
}
.card:hover a{
    color: #ffffff;
}
.card:hover svg{
    fill: #ffffff;
}
.card-links {
    display: flex;
    flex-direction: column;
}
.card-links a:hover{
    text-decoration: underline;
}
.sec9{
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sec9 a{
    color: #000000;
}
.sec10{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.d101{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec10 h4{
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 0px;
}
.d102 h5{
    font-size: 64px; 
    font-weight: 400px;
}
.d102 p{
    text-align: center;

}
.d102{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    line-height: 1px;
    width: 900px;
    padding-bottom: 40px;

}

.d1021{
    display: block;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin: 100px;
    margin-top: 0px;

}

.p10{
    box-sizing: border-box;
    line-height: 28px;
}

.sec011{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.p011 {
    color: #ffffff;
    margin-bottom: 0px;
}
.d011{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 60px;
    padding-right: 40px;
    font-size: 18px;
}
.d011 .ul011{
    color:#ffffff 
}
.btn011 , .btn0112{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 10px;
    background-color: #363636;
    margin: 10px;
    margin-top: 0px;
}
.btn011{
    color: #000000;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
}
.btn0112{
    color: #ffffff;
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}
.btn011:hover{
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}
.btn0112:hover{
    color: #c9c9c9;
    border-color: #c9c9c9;
}
.d0112{
    margin-bottom: 150px;
}
.sec012{
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-left: 100px;
    padding-right: 100px;
    color: #ffffff;
    padding-bottom: 88px;
}
.sec012 a{
    text-decoration: none;
    margin: 10px;
}
.d012{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
.d012 .p012{
    margin-bottom: 20px;
}
.my-svg-alternate{
    fill: #ffffff;
}
.ul2{
    list-style-type: none;
}
.d0121{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.a-svg:hover{
    color: #c9c9c9;
}
.a-transition:hover{
    transition: all 0.2s;
    width: 80%;
    margin-left: 20%;
    margin-right: 10%;
  }
.sec013{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 13px;
}
.d013{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.d013 .d0131{
    margin: 20px;
}
.sec013 button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.location svg{
    color: #ffffff;
}
.ftrlnk{
    color: #ffffff;
}
.ftrlnk:hover{
    color: #939393;
}
.ftrlnk:hover button{
    color: #939393;
}
/*Line code is hr*/
hr{
    background-color: #333;
    border: 0 none;
    color: #eee;
    height: 1px;
}
.a012{
    display: block;
    color: #ffffff;
    margin: 10px;
}

