* ,*:before,*:after{box-sizing:inherit;
}

body{
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    background-color: #191919;
    margin: 0px;
}
.p1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
    text-align: center;
    height: 40px;
}
header{
    background-color: #ffffff;
}
.nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.logo .img2:hover{
    transition: 3s ease-in 1s infinite reverse both running slidein;
}
.selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    list-style-type: none;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login .a1{
    text-decoration: none;
    color: #000000;

}
.btn , .btn3 {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
  }
.btn:hover , .btn1:hover , .btn3:hover{
    background-color: #363636;
}
.positioned-sticky{
    position: sticky;
    top: 0px;
  }
  .btn3{
    padding-left:45px;
    padding-right: 45px;
  }

h1 , h3{
    font-weight: normal;
    text-rendering: optimizespeed;
}

h2{
    font-weight: normal;
   text-align: center;
   padding-bottom: 80px;
}

.sec1 , .sec4 , .sec5{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}

.sec1{
    margin-top: 40px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;

}
.log2{
    padding: 40px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.d4{
    padding-left: 80px;
}

.d5{
    padding-right: 80px;
}

.sec5{
    margin-top: 200px;
}

.sec6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    margin-bottom: 170px;

}
.sec6 h4{
    font-weight: none ;
}

.zapier , .calendly , .hubspot , .notion{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #F7F7F6;
    background-color: #F7F7F6;
    color: #000000;
    display: inline-block;
    border-radius: 30px;
    margin: 20px;
}
.notion{
    padding-left: 40px;
    padding-right: 40px;
}
.hubspot{
    padding: 25px;
}
.calendly{
    padding: 30px;
}
.zapier{
    padding-top: 70px;
    padding-bottom: 70px;
}

.d7{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
    padding-bottom: 80px;
}

.sec8{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1080px;
    padding-left: 150px;
    padding-right: 50px;
}
.card{
    display: block;
    text-decoration: none;
    width: 26%;
    padding: 24px;
    border: 1px solid #F7F7F6;
    background-color: #F7F7F6;
    color: #000000;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.card a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 3px;
}
.card .card-title{
    font-size: 18px;
    padding-bottom: 5px;
}
.card:hover{
    background-color: #000000;
    color: #ffffff;
}
.card:hover a{
    color: #ffffff;
}

.card-links {
    display: flex;
    flex-direction: column;
}
.card-links a:hover{
    text-decoration: underline;
}

.Browse{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    text-decoration-line: underline;
    color: #000000;
}
.sec10{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.d101{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec10 h4{
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 0px;
}
.d102 h5{
    font-size: 64px; 
    font-weight: 400px;
}
.d102 p{
    text-align: center;

}
.d102{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    line-height: 1px;
    width: 900px;
    padding-bottom: 40px;

}

.d1021{
    display: block;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin: 100px;
    margin-top: 0px;

}

.p10{
    box-sizing: border-box;
    line-height: 28px;
}

article{
    display: block;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-right: 170px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    display: inline-block;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.sec011{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.p011 {
    color: #ffffff;
    margin-bottom: 0px;
}
.d011{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 60px;
    padding-right: 40px;
    font-size: 18px;
}
.d011 .ul011{
    color:#ffffff 
}
.btn011 , .btn0112{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 10px;
    background-color: #363636;
    margin: 10px;
    margin-top: 0px;
}
.btn011{
    color: #000000;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
}
.btn0112{
    color: #ffffff;
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}
.d0112{
    margin-bottom: 150px;
}
.sec012{
    display: flex;
    justify-content: space-around;
    align-items: top;
    flex-wrap: wrap;
    max-width: 1180px;
    padding-left: 150px;
    color: #ffffff;
    margin-bottom: 88px;
}
.sec012 a{
    text-decoration: none;
    margin: 10px;
}
.d012{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
.d012 .p012{
    margin-bottom: 20px;
}
.my-svg-alternate{
    fill: #ffffff;
}
.ul2{
    list-style-type: none;
}
.d0121{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sec013{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 13px;
}
.d013{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.d013 .d0131{
    margin: 20px;
}
.ftrlnk{
    color: #ffffff;
}
/*Line code is hr*/
hr{
    background-color: #333;
    border: 0 none;
    color: #eee;
    height: 1px;
}
.a012{
    color: #ffffff;
    margin: 10px;
}
